<template>
  <header>
    <v-img
        :src="require('../../assets/logo.svg')"
        class="my-3"
        contain
        height="200"
    />
  </header>
</template>

<script>
export default {
  name: 'HeaderBasic',
}
</script>