<template>
  <v-card max-width="450" class="mx-auto">
    <v-list three-line>
      <v-subheader> 
        List
        <v-progress-circular
          v-if="isLoading"
          color="primary"
          class="ml-4"
          indeterminate
        ></v-progress-circular>
      </v-subheader>
      <template v-for="(item, index) in users">
        <v-list-item :key="`${item.title}`">
          <v-list-item-avatar>
            <v-btn
              menuicon
              @click="addressNumber = index"
            >
              <v-img :src="item.avatar" />
            </v-btn>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>

            <!-- TODO: v-html плохо использовать, нужно либо директиву написать свою, либо обертку для вставки html -->
            <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>

            <v-list-item-subtitle>
              {{ item.score ?? "-" }}
            </v-list-item-subtitle>
            <v-list-item-subtitle>
              {{ item.country ?? "-" }}
            </v-list-item-subtitle>
            <v-list-item-subtitle>
              {{ addressNumber === index && item.address ? item.address : "" }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <!-- TODO: Через стили divider можно задать и убрать лишние условие-->
        <v-divider
          v-if="index + 1 !== users.length"
          :key="index"
          :inset="item.inset"
        ></v-divider>
      </template>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "ContentBlock",

  data: () => ({
    // TODO: Так как у записей нет id 
    // то один из костылей запоминать index записи 
    // и при изменение getters.getUsers сбрасывать addressNumber
    addressNumber: null,
  }),

  computed: {
      isLoading() {
        return this.$store.getters.getLoading;
      },
      users() {
        return this.$store.getters.getUsers;
      }
  },

  watch: {
    users() {
      this.addressNumber = null;
    }
  }
};
</script>
