<template>
  <div>
    <v-select
      v-model="country"
      :items="countryList"
      clearable
      label="Filter by country"
    ></v-select>

    <v-select
      v-model="score"
      :items="scoreList"
      clearable
      label="Filter by score"
    ></v-select>
  </div>
</template>

<script>
export default {
  name: "ContentBlock",

  data: () => ({
    countryList: ["russia", "usa"],
    scoreList: ["> 20", "< 10"],
    country: null,
    score: null,
  }),

  watch: {
    country() {
      this.updateFilters();
    },
    score() {
      this.updateFilters();
    },
  },

  methods: {
    updateFilters() {
      this.$store.dispatch("updateFilters", {
        country: this.country,
        score: this.score,
      });
    },
  },
};
</script>
