<template>
  <v-app>
    <HeaderBasic />
    
    <v-main>
      <ContentBlock/>
    </v-main>

    <v-footer app absolute>
      <FooterBasic />
    </v-footer>
  </v-app>
</template>

<script>
import HeaderBasic from './components/Basic/HeaderBasic';
import FooterBasic from './components/Basic/FooterBasic';
import ContentBlock from './components/ContentBlock/ContentBlock';

export default {
  name: 'App',

  components: {
    ContentBlock,
    FooterBasic,
    HeaderBasic,
  },
};
</script>
